<!-- <p class="border p-2 m-2 bg-light text-primary">Form value: {{ productForm.value | json }}</p> -->
<!-- <p class="border p-2 m-2 bg-light text-primary">Form status: {{ productForm.status | json }}</p> -->

<div *ngIf="pSuccess" class="alert alert-primary" role="alert">
  Product: <strong>[ </strong>{{successMsg}} <strong>]</strong> added successfully!
</div>
<div *ngIf="pError" class="alert alert-danger" role="alert">
  SomeThing went wrong!
</div>



<form class="needs-validation" [formGroup]="productForm">
  <div class="form-row">
    <!-- <div class="form-group col-sm-6 col-md-4 col-lg-3 col-xl-2"> -->
    <div class="form-group col-sm-6 col-md-4">
      <label for="productName" class="form-label">Product Name</label>
      <input
        type="text"
        class="form-control"
        formControlName="productName"
        [ngClass]="{ 'is-invalid': submitted && f.productName.errors }"
      />
      <div *ngIf="submitted && f.productName.errors" class="invalid-feedback">
        <div *ngIf="f.productName.errors.required">Product Name is required</div>
      </div>
    </div>
    <div class="form-group col-sm-6 col-md-4">
      <label for="quantity" class="form-label">Quantity</label>
      <input
        type="number"
        class="form-control"
        formControlName="quantity"
        [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }"
      />
      <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
        <div *ngIf="f.quantity.errors.required">Quantity is required</div>
      </div>
    </div>
    <div class="form-group col-sm-6 col-md-4">
      <label for="price" class="form-label">Price</label>
      <input
        type="number"
        class="form-control"
        formControlName="price"
        [ngClass]="{ 'is-invalid': submitted && f.price.errors }"
      />
      <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
        <div *ngIf="f.price.errors.required">Price is required</div>
      </div>
    </div>
  </div>
  <button type="submit" (click)="onSubmit()" class="btn btn-primary">Submit</button>
</form>

<!-- <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  
  <mat-form-field appearance="outline">
    <mat-label>Product Name</mat-label>
    <input matInput formControlName="productName" required>
    <mat-error *ngIf="f.productName.errors">
      Product Name is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Quantity</mat-label>
    <input matInput formControlName="quantity" required>
    <mat-error *ngIf="f.quantity.errors">
      Quantity is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Price</mat-label>
    <input matInput formControlName="price" required>
    <mat-error *ngIf="f.price.errors">
      Price is required
    </mat-error>
  </mat-form-field>
  
  <button type="submit" mat-raised-button color="primary">Submit</button>
</form> -->