/* $base-color: gainsboro;
$base-green-color: #4ac73c;
$base-blue-color: #007bff;
.my-nav-link {
  padding: 10px;
  text-decoration: none;
  color:$base-blue-color !important;
  font-size: medium;
} */
/* .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: $base-blue-color;
  background-color: $base-color;
  font-weight: 500;
} */
/* a:hover{
  color:gainsboro !;
} */

header {
  // color: white;
  margin-bottom: 2rem;
}
.navbar-toggler-icon {
  background-image: url(../../../assets/img/toggle-icon.svg);
}
