<!-- <header>
  
    <mat-toolbar color="primary" class="navbar">
      <div>
        <span style="color:#60ff0eb8;margin-right: 20px;">My Application</span>
      </div>
      <div>
        <a *ngFor="let link of links" routerLink="{{link.rl}}">{{link.title}}</a>
      </div>
    </mat-toolbar>
  
</header> -->

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <a class="navbar-brand" href="#">Product Inventory</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleCollapsed()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
      <ul ngbNav [activeId]="route.fragment | async" class="nav nav-pills navbar-nav mr-auto">
        <li
          [ngbNavItem]="link.fragment"
          *ngFor="let link of links"
          class="nav-item"
        >
          <a ngbNavLink routerLink="{{ link.rl }}" class="nav-link">{{
            link.title
          }}</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<!-- /* this statment goes in angular.json file for cors proxy config under serve */
/* "options": {
  "browserTarget": "product-inventory:build",
  "proxyConfig": "src/proxy.conf.json"
}, */ -->
