/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


//bootstrap setup
@import "~bootstrap/scss/bootstrap";

// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Your variable overrides
$body-bg: gainsboro;
/* $theme-colors: (
  "primary": #f12222,
  "success": #e9eef3,
  "danger": #35b927
); */

// Bootstrap and its default variables

// Optional
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
// etc






/// bootstrap setup
// @import "~bootstrap/scss/bootstrap";
// // @import "my-variables";

// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";

// @import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/utilities";

// // @import "my-reset";


// // setup angular material
// @import "~@angular/material/theming";
// // @include mat-core($my-typography);
// // $my-theme: mat-light-theme($primary, $accent, $warn);
// // @include angular-material-theme($my-theme);



// @mixin generate-utilities($theme){
//   $primary: map-get($theme, primary);
//   $accent: map-get($theme, accent);

//   .my-text-secondary-900{
//     color: mat-color($secondary, 900);
//   }
//   .my-border-primary-100{
//     border-color: mat-colr($primary, 100);
//   }
//   // .my-bg-secondary-50{
//   //   background-color: mat-color($accent, 50);
//   // }
// }


// // step no 3 ... my-alert.component.theme.scss
// @mixin alert-theme($theme) {
//   $primary: map-get($theme, primary);
//   $accent: map-get($theme, accent);

  
// }

// // step no 4 
// .my-alert {
//   // @include alert-theme($my-theme);
//   background-color: mat-color($accent, 50);
//   color: mat-color($accent, 900);
//   border-color: mat-colr($primary, 100);
// }
