<div class="my-alert">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam, harum
  unde, tempore cumque quae necessitatibus quidem porro totam suscipit
  temporibus non modi nostrum facilis labore perspiciatis hic. Recusandae, ullam
  reprehenderit.
</div>
<div class="border m-4 p-4 font-weight-bold">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae dolor excepturi
  blanditiis, saepe facere ipsum nisi veniam. Perspiciatis quia tenetur
  provident earum voluptatibus vero aliquid, necessitatibus, voluptate ut, cum
  aperiam?
</div>
